* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lora", serif;
}

:root {
  --yellow: #fff29a;
  --pink: #de9994;
  --gray: #92958d;
  --blue: #3d5d66;
  --almost-white: #eef5ed;
}

header {
  padding: 2.5vw;
  background-color: var(--pink);
}

h1 {
  font-family: "Rosario", sans-serif;
  font-size: 2.5rem;
  color: var(--almost-white);
}

main {
  padding: 2.5vw;
  display: grid;
  grid-row: 100%;
  background-color: var(--almost-white);
  min-height: 70vh;
}

h2 {
  padding-left: 1vw;
  font-family: "Rosario", sans-serif;
  font-size: 1.75rem;
  color: var(--blue);
}

footer {
  display: flex;
  padding: 1vw 2.5vw 1vw 2.5vw;
  background-color: var(--yellow);
  justify-content: flex-end;
}

footer p {
  font-family: "Rosario", sans-serif;
  color: var(--almost-white);
  font-size: 4rem;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template: auto / 1fr 1fr;
  padding-bottom: 2.5vw;
}

.trash-can {
  width: 25%;
  grid-area: 1 / 2 / 3 / 3;
  justify-self: end;
  align-self: end;
}

.read-list {
  grid-area: 1 / 2 / 2 / 3;
}

.form {
  align-self: end;
}

.hide {
  display: none;
}

#delete-text {
  grid-area: 3 / 2 / 3 / 2;
  justify-self: end;
  align-self: end;
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  color: var(--pink);
}

.form {
  padding-top: 1vw;
  display: flex;
}

.form label {
  display: flex;
  flex-direction: column;
}
