* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Lora", serif;
}

:root {
  --yellow: #fff29a;
  --pink: #de9994;
  --gray: #92958d;
  --blue: #3d5d66;
  --almost-white: #eef5ed;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 2.5vw;
  background-color: var(--pink);
}

h1 {
  font-family: "Rosario", sans-serif;
  font-size: 2.5rem;
  color: var(--almost-white);
}

main {
  padding: 2.5vw;
  background-color: var(--almost-white);
}

h2 {
  padding-left: 1vw;
  font-family: "Rosario", sans-serif;
  font-size: 1.75rem;
  color: var(--blue);
}

.grid {
  display: grid;
  grid-template: auto / 1fr 1fr;
  padding-bottom: 2.5vw;
}

.trash-can {
  width: 25%;
  grid-area: 1 / 2 / 3 / 3;
  justify-self: end;
  align-self: end;
  cursor: pointer;
}

.read-list {
  grid-area: 1 / 2 / 2 / 3;
}

.hide {
  display: none;
}

#delete-text {
  grid-area: 3 / 2 / 3 / 2;
  justify-self: end;
  align-self: end;
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  color: var(--pink);
}

li {
  cursor: pointer;
  margin: 0.5rem 0 0.5rem 1vw;
  list-style-type: "- ";
}

.form {
  display: flex;
  padding-top: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input[type="text"] {
  border: none;
  border-bottom: 4px solid var(--blue);
  background-color: inherit;
  outline: none;
}
.submit-button {
  background-color: transparent;
  border: none;
  color: var(--blue);
  font-size: 2.5rem;
  outline: none;
}

li:hover, .submit-button:hover {
  font-weight: bolder;
}

footer {
  display: flex;
  padding: 1vw 2.5vw 1vw 2.5vw;
  background-color: var(--yellow);
  justify-content: flex-end;
}

footer p {
  font-family: "Rosario", sans-serif;
  color: var(--almost-white);
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .read-list {
    order: 1;
  }

  .trash-can {
    order: 2;
  }

  #delete-text {
    order: 3;
  }

  li {
    margin-left: 1rem;
  }
}